
.program_tip{
    font-size: 10px;
    color: #005F92;
    background-color: #BFE4F9;
    padding: 0 6px;
    border-radius: 3px;
}
.program_type_ul{
    overflow: hidden;
    height: 28px;
    border-bottom: solid #E2E6ED 1px;
    margin-bottom: 10px;
    line-height: 28px;
}
.program_type_ul>li{
    float: left;
    height: 26px;
    margin-right: 20px;
    color: #666;
    cursor: pointer;
}

.small-font{
    font-size:12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.50);
}


.smallsize-font {
    font-size:6px;
}

