.page_title{
    color: #333;
    padding: 15px 20px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}
.setting_nav_con{
    margin-left: 20px;
}
.setting_nav_con>li{
    line-height: 30px;
}
.page_two_title{
    padding: 15px 20px;
    color: #333;
    font-weight: 500;
}